<?php
$cate=[['id'=>0,'cname'=>'全部']];
$mysql = new mysqli("localhost","root","","enterprise","3306");
if($mysql->connect_error){
echo json_encode([
"success"=>500,
"font"=>"数据库连接失败".$mysql->connect_error
]);
exit();
}
$mysql->query("set names utf8");
   $mysqlFont="select * from gclassification";
  $data = $mysql->query($mysqlFont)->fetch_all(MYSQLI_ASSOC);
   $mysqlFont="select * from goodstable";
  $centers = $mysql->query($mysqlFont)->fetch_all(MYSQLI_ASSOC);
?>
<html>

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/list.css">
    <title>产品中心</title>
    <script>
        $(function () {
            $(".ser-list").on('click', '.sort', function () {
                console.log(this);
                console.log($(this).siblings('.ser-box'));
                $(this).siblings('.ser-box').show().parentsUntil('ser-item').siblings().find('.ser-box').hide(); //在按钮选中时在下面显示相应的内容，同时隐藏不需要的框架内容
            });
            //获取被按下按钮的索引值，需要注意index是从0开始的
        });
    </script>
</head>

<body>


    <!-- 导航结束 -->
    <div class="container">
          <div style="height: 100px;"></div>
        <div class="row">
            <!-- 主体部分开始 -->
            <div class="bigbox ">
                <div class="box"></div>
                <!-- 分界线开始 -->
                <div class="boundary">
                    <div class="line"></div>
                    <div class="line1"></div>
                    <div class="fon">产品中心</div>
                    <div class="small-fon">Products</div>
                    <!-- <div class="right-one"></div> -->
                </div>
                <!-- 分界线结束 -->
                <!-- 产品部分开始 -->
                <div class="chanpin">
                    <div class="classify" style="margin-left: 40px;">
                        <ul class="ser-list">
                            <li class="list list-one">
                            <a href="center.php?id=all" class="sort">全部</a>
                        </li>
                            <?php foreach($data as $key=>$value){
                            ?>
                            <li class="list list-one other" id="<?php echo $value['id']?>">
<!--                                center.php?id=<?php echo $value['gid']?>-->
                                <a href="../index/center.php?id=<?php echo $value['id']?>" class="sort">
                                <?php echo $value['gname']?>
                                </a>
                            </li>
                            <?php
                            }
                             ?>
                        </ul>
                    </div>
                    <div class="shopf" style="margin-left: 60px;">
                        <?php  foreach($centers as $key=>$value){
                            ?>
                        <div class="shop">

                            <div class="shop-one">
                                <img src="<?php echo $value['thumb']?>" alt="">
                            </div>
                            <!-- ../wuif1907-2PC/details.html -->
                            <a href="../index/details.php?id=<?php echo $value['id']?>" class="T">
                                <?php echo $value['gname']?>
                            </a>
                        </div>
                        <?php
                            }
                             ?>
                    </div>
                </div>
                <!-- 产品部分结束 -->
            </div>
            <!-- 主体部分结束 -->
        </div>
    </div>

    <!-- 站点地图开始 -->
    <footer>
        <ul>
            <li>
                <h1><strong>一店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>二店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>三店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>

        </ul>
        <div class="bottom-tb">
            <img src="img/common/QQ (1).png" alt="">
            <img src="img/common/微信 (1).png" alt="">
            <img src="img/common/微博 (1).png" alt="">
            <img src="img/common/电话 (1).png" alt="">
            <img src="img/common/邮箱.png" alt="">
        </div>
        <div class="bottom-wz">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
        <div class="bottom-zaixian"><a href="">在线预约</a></div>
    </footer>
    <!-- 站点地图结束 -->

    <!-- 箭头--置顶 -->
    <div class="zhiding">ʌ</div>

</body>

</html>
<script>
// $(".classify ul").on("click",".other",function(){
//      let id = this.id;
//      $.ajax({
//          url:"center.php",
//          type:"POST",
//          dataType:"json",
//          data:{
//              id:id
//          },
//          success:function(res){
//            if(res.success == 200){
//               alert("1111")
//            }
//          }
//      })
// })

</script>