<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1342839_fivi4ygck4o.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/details.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1342839_hcaxe43ife4.css">
    <title>产品详情页面</title>
</head>
<body>
<!-- 头部导航开始 -->
    <!-- 导航开始 -->
    <!-- 顶部导航 开始 -->
    <nav style="z-index:2000;">
            <div class="nav-box">
                <div class="navl">
                    <img src="../static/image/首页/logo.png" alt="">
                </div>
                <ul class="navr">
                    <li>
                        <a href="../wuif1907-2PC/index.html">首页</a>
                    </li>
                    <li>
                        <a href="../wuif1907-2PC/aoout.html">关于我们</a>
                    </li>
                    <li>
                        <a href="../wuif1907-2PC/产品中心.html">产品中心</a>
                    </li>
                    <li>
                        <a href="../wuif1907-2PC/服务项目.html">服务项目</a>
                    </li>
                    <li>
                        <a href="../wuif1907-2PC/News.html">新闻资讯</a>
                    </li>
                    <li>
                        <a href="../wuif1907-2PC/">在线预约</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 顶部导航 结束 -->
        <!-- 屏幕滚动出现 开始 -->
        <nav class="xiala-nav" style="z-index:2000;">
            <div class="nav-box">
                <div class="navl">
                    <img src="../static/image/首页/logo.png" alt="">
                </div>
                <ul class="navr">
                    <li>
                        <a href="">首页</a>
                    </li>
                    <li>
                        <a href="">关于我们</a>
                    </li>
                    <li>
                        <a href="">产品中心</a>
                    </li>
                    <li>
                        <a href="">服务项目</a>
                    </li>
                    <li>
                        <a href="">新闻资讯</a>
                    </li>
                    <li>
                        <a href="">在线预约</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 屏幕滚动出现 结束 -->
        <!-- 屏幕缩小后出现的下拉列表 开始 -->
    <a href="#" style="z-index:2000;">
        <div class="nav-list" >
            <div class="shouy">首页</div>
            <div class="shouy-xiala">∨</div>
        </div>
    </a>
    <ul class="xialakuang" style="display: none; z-index:2000;">
        <a href="">
            <li>首页</li>
        </a>
        <a href="">
            <li>关于我们</li>
        </a>
        <a href="">
            <li>铲品中心</li>
        </a>
        <a href="">
            <li>服务项目</li>
        </a>
        <a href="">
            <li>新闻资讯</li>
        </a>
        <a href="">
            <li>在线预约</li>
        </a>
    </ul>
    <!-- 屏幕缩小后出现的下拉列表 结束 -->
        <!--  顶部导航栏留白  结束-->
 <div style="clear: both;"></div>
<!--详情页面最大盒子开始-->
<div class="details-MaxBox">
<!--    $data-->
<!--  992px width 时  红色下拉条 最大div  开始  -->
    <div class="pull-down-strip col-md-12 col-sm-12" style="display: none;">
        <a href="javascript:void(0);" class="pull-a-box">
            <span class="span-left">
                <?php echo $data['gname']?>
<!--                  KITTI 优质单人/双人床 纯棉套装-->
            </span>


            <span class="span-right">
                <i class="iconfont icon-xiangxia1"></i>
            </span>
        </a>
        <a href="javascript:void(0);" class="pull-a-box">
            <span class="sapn-return">返回</span>
        </a>


        <!--  单击事件绑定的下拉条  开始  -->
        <div class="selection-box">
            <ul class="selection-ul">
                <li class="selection-li">
                    <a href="javascrilt:void(0);">
                        首页
                    </a>

                </li>

                <li class="selection-li">
                    <a href="javascrilt:void(0);">产品中心</a>

                </li>
                <li class="selection-li">
                    <a href="javascrilt:void(0);"> 服务项目</a>

                </li>
                <li class="selection-li">
                    <a href="javascrilt:void(0);"> 新闻咨询</a>

                </li>
                <li class="selection-li">
                    <a href="javascrilt:void(0);"> 关于我们</a>

                </li>
            </ul>
        </div>
        <!--  单击事件绑定的下拉条  结束  -->
    </div>
   <div style="clear: both;"></div>

    <!--  992px width 时  红色下拉条 最大div  结束  -->
<!--导航栏底部图片开始-->
<div class="head-bottom-image col-md-12 col-sm-12">

</div>
<!--导航栏底部图片结束-->
<div class="container">
    <div class="row">
<!--详情页主体开始  details-subject -->
<div class="details-subject  col-md-12 col-sm-12">
<!-- 详情页 产品详情 产品标题  开始 -->
    <div class="details-head-name">
<!--     商品标题开始   -->
         <div class="details-head-title">
               <div class="details-head-title-inside">
<!--           标题栏标题   文字        -->
                   <h1>
                       <div class="details-head-title-font">
                           <?php echo $data['gname']?>
                       </div>
                   </h1>
               </div>
         </div>
        <!--     商品标题结束   -->
    </div>
    <!-- 详情页 产品详情 产品标题  结束 -->
    <!-- <div style="clear: both; height: 10px; width: 100%; background-color: rebeccapurple;"></div> -->
<!--    详情页  产品详情  产品展示 最大盒子开始-->
    <div class="details-display-box">
        <div class="max-box">

        <div class="column_inner-left col-md-6 col-sm-12">
<!--        详情页  产品详情  轮播图    -->
<!--    ！  该元素 拥有一个定位属性   完成轮播点儿的定位     -->
                    <div class="rotary-img">
                        <ul class="img-box ">
                            <?php
                               $str = $data['banner'];
                               $arr = explode(",",$str);
                               for($i=0;$i<count($arr);$i++){
                             ?>
                                <li class="img-boxli ">
                            <img src="<?php echo $arr[$i]?>" alt="产品中心1">
                             </li>
                               <?php
                               }
                             ?>

                        </ul>
<!--          轮播点   开始              -->
                        <ul class="wheel-planting-box">
                            <li class="wheel-planting selection"></li>
                            <li class="wheel-planting"></li>
                            <li class="wheel-planting"></li>
                        </ul>
                        <!--          轮播点   结束            -->
<!--          轮播点按钮              -->
                        <!--          轮播点按钮              -->
                        <div class="button-left public-class">
                           <i class="iconfont icon-xiangzuo"></i>
                        </div>
                        <div class="button-right public-class">
                            <i class="iconfont icon-xiangyou"></i>
                        </div>
                    </div>
        </div>
            
<!--        产品简介  开始-->
        <div class="column_inner-right">
            <div class="column_inner-right-content">
                  <div class="right-content-fontbox">
<!--        文字              -->
                      <span class="market-price">
                          市场价：￥<?php echo $data['nsmp']?>
                      </span>
                  </div>
                <div class="right-content-fontbox">

                </div>
                <div class="right-content-fontbox  borders-bottom">
                   <span class="retail-price-name">
                       零售价：
                   </span>
                    <span class="retail-price">
                        <strong>￥<?php echo $data['sale']?></strong>
                    </span>
                </div>
<!--                <div class="right-content-fontbox fontbox-border">-->

<!--                </div>-->
                <div class="right-content-fontbox">

                </div>
                <div class="fontbox-Inventory-status">
                    <span>
                        库存状况：有货
                    </span>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both;"></div>
        </div>
        <!-- <div style="clear: both;"></div> -->
        <!--    空白块  用于清除浮动    -->
        <!-- <div style="clear: both"></div> -->
    <!--    详情页  产品详情  产品展示 结束-->
<!--    详情页  产品详情   商品介绍开始    -->
        <div class="product-introduction-box">
<!--     商品介绍标题部分   开始      -->
            <div class="product-introduction-font">
               <span>
                   商品介绍
               </span>
            </div>
            <!--     商品介绍标题部分   结束      -->
            <div style="clear: both;"></div>
<!--      商品介绍 文字叙述部分 开始      -->
            <div class="font-describe" >
               <div class="font-first">
                   <span style="display:block;">
                       <?php echo $data['datall']?>
<!--                    生活以持续提升消费者的家居生活品质为己任，-->
<!--                       围绕健康、舒适、美，为消费者提供高品质的家纺产品和服务，-->
<!--                       不断满足消费者需求。在产品选材上，始终执行严格的标准，-->
<!--                       公司参与多项国家、行业标准起草与制定，-->
<!--                       实验室获得中国合格评定国家认可委员会CNAS实验室认可证书，-->
<!--                       确保产品安全、环保、无害；在研发设计过程中，赋予产品更健康、-->
<!--                       更舒适的体验，更将独特的理念和文化融入产品和服务，让消费者感受到心灵的愉悦和生活之美-->
                   </span>
            </div>
                <div class="font-message">

                </div>
                <div style="clear: both;"></div>
<!--        文字描述的第二段        -->
                <div class="font-Second" >
                   <span style="display:block;">
                       反正就是好用
                       
                    
                   </span>
                </div>
                
            </div>
            <div style="clear: both;"></div>
            <!--      商品介绍 文字叙述部分 结束      -->
            </div>
            
        </div>
</div>

<!--详情页面最大盒子结束-->
</div>

    <div class="bottom-box col-md-12 col-sm-12" style="display: none;">
        <div class="col-md-12 col-sm-12">
         <span>在线预约</span>
        </div>
    </div>
        </div>
       
    </div>
    <!-- plublic -->
<!-- 站点地图开始 -->
 <!--详情页主体结束  details-subject -->
 <footer>
    <ul>
        <li>
            <h1><strong>一店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>二店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>三店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>

    </ul>
    <div class="bottom-tb">
        <img src="../../static/image/common/QQ%20(1).png" alt="">
        <img src="../../static/image/common/微信%20(1).png" alt="">
        <img src="../../static/image/common/微博%20(1).png" alt="">
        <img src="../../static/image/common/电话%20(1).png" alt="">
        <img src="../../static/image/common/邮箱.png" alt="">
    </div>
    <div class="bottom-wz">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
    <div class="bottom-zaixian" style="z-index: 1000;"><a href="">在线预约</a></div>
</footer>
<!-- 站点地图结束 -->
<!-- 箭头--置顶 -->
<div class="zhiding">ʌ</div>

    <!-- pulic 结束 -->
    </div>

</body>
</html>
<script src="../static/js/public.js"></script>
<script src="../static/js/details.js"></script>
