<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线预约</title>
    <link rel="stylesheet" href="../static/css/public1.css">

</head>

<body>
     <div style="height: 100px"></div>
    <!-- 图片开始 -->
    <div class="wf-wrap">
        <img src="../static/image/在线预约.jpg" alt="">
    </div>
    <!-- 图片结束 -->
    <!-- 线条 -->
    <section class="middle-box">
        <div class="containter">
            <div class="" style="text-align:center;">






















            </div>
        </div>
    </section>

  
    <section class="bottom-box  col-sm-12" >
        <div class=" containter ">
            <div class="row ">
                <div class="chosebox ">
                    <form class="chose-function ">
                        <!-- 预约服务 -->
                        <div class="same ">
                            <label for="rsid" class="font-left float" >预约服务:</label>
                            <div class="font-right ">
                                <select class="style " style="width:100px;" name="rsid" id="rsid">
                                    <?php foreach($data as $key=>$value){
                                    ?>
                                    <option value="<?php echo $value['rsid']?>">
                                        <?php echo $value['rsname']?>
                                    </option>
                                    <?php
                                    }?>

                                </select>
                            </div>
                        </div>
                        <!-- 预约日期 -->
                        <div class="same ">
                            <label  class="font-left float ">预约日期:</label>
                            <div class="font-right ">
<!--                         <select class="style ">-->
<!--                                    <option value="1">年</option>-->
<!--                                    <option value="2">2023</option>-->
<!--                                    <option value="3">2022</option>-->
<!--                                    <option value="4">2021</option>-->
<!--                                    <option value="5">2020</option>-->
<!--                                    <option value="6">2019</option>-->
<!--                                    <option value="7">2018</option>-->
<!--                                    <option value="8">2017</option>-->
<!--                                    <option value="9">2016</option>-->
<!--                                    <option value="10">2015</option>-->
<!--                                    <option value="11">2014</option>-->
<!--                                    <option value="12">2013</option>-->
<!--                                    <option value="13">2012</option>-->
<!--                                    <option value="14">2011</option>-->
<!--                                    <option value="15">2010</option>-->
<!--                                    <option value="16">2009</option>-->
<!--                                    <option value="17">2008</option>-->
<!--                                    <option value="18">2007</option>-->
<!--                                    <option value="19">2006</option>-->
<!--                                    <option value="20">2005</option>-->
<!--                                    <option value="21">2004</option>-->
<!--                                    <option value="22">2003</option>-->
<!--                                    <option value="23">2002</option>-->
<!--                                    <option value="24">2001</option>-->
<!--                                    <option value="25">2000</option>-->
<!--                                    <option value="26">1999</option>-->
<!--                                    <option value="27">1998</option>-->
<!--                                    <option value="28">1997</option>-->
<!--                                    <option value="28">1996</option>-->
<!--                                    <option value="30">1995</option>-->
<!--                                    <option value="31">1994</option>-->
<!--                                    <option value="32">1993</option>-->
<!--                                    <option value="33">1992</option>-->
<!--                                    <option value="34">1991</option>-->
<!--                                    <option value="35">1990</option>-->
<!--                                    <option value="36">1989</option>-->
<!--                                    <option value="37">1987</option>-->
<!--                                    <option value="38">1986</option>-->
<!--                                    <option value="39">1985</option>-->
<!--                                    <option value="40">1984</option>-->
<!--                                    <option value="41">1983</option>-->
<!--                                </select>-->
<!--        <select class="style " style="margin-left:100px; ">-->
<!--                                    <option value=" ">月</option>-->
<!--                                    <option value="1 ">一月</option>-->
<!--                                    <option value="2 ">二月</option>-->
<!--                                    <option value="3 ">三月</option>-->
<!--                                    <option value="4 ">四月</option>-->
<!--                                    <option value="5 ">五月</option>-->
<!--                                    <option value="6 ">六月</option>-->
<!--                                    <option value="7 ">七月</option>-->
<!--                                    <option value="8 ">八月</option>-->
<!--                                    <option value="9 ">九月</option>-->
<!--                                    <option value="10 ">十月</option>-->
<!--                                    <option value="11 ">十一月</option>-->
<!--                                    <option value="12 ">十二月</option>-->
<!--                                </select>-->
<!--        <select class="style " style="margin-left:180px; ">-->
<!--                                    <option value=" ">日</option>-->
<!--                                   <option value="1 ">1</option>-->
<!--                                   <option value="2 ">2</option>-->
<!--                                   <option value="3 ">3</option>-->
<!--                                   <option value="4 ">4</option>-->
<!--                                   <option value="5 ">5</option>-->
<!--                                   <option value="6 ">6</option>-->
<!--                                   <option value="7 ">7</option>-->
<!--                                   <option value="8 ">8</option>-->
<!--                                   <option value="9 ">9</option>-->
<!--                                   <option value="10 ">10</option>-->
<!--                                   <option value="11 ">11</option>-->
<!--                                   <option value="12 ">12</option>-->
<!--                                   <option value="13 ">13</option>-->
<!--                                   <option value="14 ">14</option>-->
<!--                                   <option value="15 ">15</option>-->
<!--                                   <option value="16 ">16</option>-->
<!--                                   <option value="17 ">17</option>-->
<!--                                   <option value="18 ">18</option>-->
<!--                                   <option value="19 ">19</option>-->
<!--                                   <option value="20 ">20</option>-->
<!--                                   <option value="21 ">21</option>-->
<!--                                   <option value="22 ">22</option>-->
<!--                                   <option value="23 ">23</option>-->
<!--                                   <option value="24 ">24</option>-->
<!--                                   <option value="25 ">25</option>-->
<!--                                   <option value="26 ">26</option>-->
<!--                                   <option value="27 ">27</option>-->
<!--                                   <option value="28 ">28</option>-->
<!--                                   <option value="29 ">29</option>-->
<!--                                   <option value="30 ">30</option>-->
<!--                                   <option value="31 ">31</option>-->
<!--                                </select>-->
                                <div class="calenter">
                                    <input type="date" value="" name="date" id="date">
                                </div>

</div>
</div>
<!-- 姓名 -->
<div class="same ">
<label  class="font-left float ">您的姓名:</label>
<div class="font-right ">
    <input class="style " style="width:100%; font-size: 14px; " name="name" id="name">
</div>
</div>
<!-- 性别 -->
<div class="same ">
<label  class="font-left float ">您的性别:</label>
<div class="container ">
    <div class="row " style="text-align:left; ">
        <div class=" sex-box ">
            <label  class="sex-font " style="font-weight: normal ; ">
               <div class="check ">
        <span>
         <input style="width: 17px;height:17px; display: inline-block; margin: 0;" type="radio" value="男" name="sex" id="nan">
        </span>
</div>
男
</label>
</div>
<div class="sex-box">
<label  class="sex-font " style="font-weight: normal ;">
 <div class="check">
<span>
<input style="width: 17px;height:17px; margin: 0;" type="radio" value="女" name="sex" id="nv">
 </span>
</div>
女
 </label>
</div>
</div>
</div>
</div>
<!-- 电话 -->
<div class="same ">
<label  class="font-left float ">您的电话:</label>
<div class="font-right">
<input class="style" style="width:100%;font-size: 14px;" name="phone" id="phone">
</div>
</div>
<!-- 补充说明 -->
<div class="same ">
<label  class="font-left float ">补充说明:</label>
<div class="font-right ">
<input class="style" style="width:100%;height:64px;" name="supplement" id="supplement">
</div>
</div>
<!-- 验证码 -->
<div class="same" style="margin-top:50px;">
<label  class="font-left float ">验证码:</label>
<div class="font-right">
<input class="style" style="width:100%;font-size: 14px;"></input>
</div>
    <div class="ma-active" >
        4 r 5 E 2
    </div>
    <div style="height: 45px"></div>


</div>
                        <div style="height: 60px"></div>
<!-- 按钮 -->
<div class="submitbox">
<div class="submit">
<button class="anniu" type="submit" style="color: whitesmoke;">
提交预约
    </button>
</div>
</div>
<!-- 按钮结束 -->
</form>
                </div>
            </div>
        </div>
</section>
</div>
</div>
</div>
</div>
</from>
</div>
</div>
</div>
</section>
</div>
</div>
<footer>
    <ul>
        <li>
            <h1><strong>一店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>二店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>
        <li>
            <h1><strong>三店地址</strong></h1>
            <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
            <h2>预约电话：<strong>400-562-6654</strong></h2>
            <h3>营业时间</h3>
            <h4>周一 ~周五：上午9:30-下午8:00</h4>
            <h4>周六、周日：上午10:00-下午9:00</h4>
        </li>

    </ul>
    <div class="bottom-tb">
        <img src="../static/image/common/QQ%20(1).png" alt="">
        <img src="../static/image/common/微信%20(1).png" alt="">
        <img src="../static/image/common/微博%20(1).png" alt="">
        <img src="../static/image/common/电话%20(1).png" alt="">
        <img src="../static/image/common/邮箱.png" alt="">
    </div>
    <div class="bottom-wz">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
    <div class="bottom-zaixian"><a href="">在线预约</a></div>
</footer>
<!-- 站点地图结束 -->

<!-- 箭头--置顶 -->
<div class="zhiding">ʌ</div>

</body>

</html>
<script>
    $("form").on("submit",function(){
       let data =  $(this).serialize();
       $.ajax({
          url:"service.php",
          type:"POST",
          dataType:"json",
          data:data,
          success:function(res){

                  alert("预约成功");
                  $("form")[0].reset();

          }
       });
        return false;
    })
</script>