<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>服务项目</title>
    <link rel="stylesheet" href="../static/css/服务项目.css">
    <link rel="stylesheet" href="../static/css/public.css">
</head>

<body>
    <!-- 导航开始 -->
    <!-- 顶部导航 开始 -->
    <nav>
        <div class="nav-box">
            <div class="navl">
                <img src="../static/image/首页/logo.png" alt="">
            </div>
            <ul class="navr">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
                <li>
                    <a href="">产品中心</a>
                </li>
                <li>
                    <a href="">服务项目</a>
                </li>
                <li>
                    <a href="">新闻资讯</a>
                </li>
                <li>
                    <a href="">在线预约</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 顶部导航 结束 -->
    <!-- 屏幕滚动出现 开始 -->
    <nav class="xiala-nav">
        <div class="nav-box">
            <div class="navl">
                <img src="../static/image/首页/logo.png" alt="">
            </div>
            <ul class="navr">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
                <li>
                    <a href="">产品中心</a>
                </li>
                <li>
                    <a href="">服务项目</a>
                </li>
                <li>
                    <a href="">新闻资讯</a>
                </li>
                <li>
                    <a href="">在线预约</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 屏幕滚动出现 结束 -->
    <!-- 屏幕缩小后出现的下拉列表 开始 -->
    <a href="#">
        <div class="nav-list">
            <div class="shouy">首页</div>
            <div class="shouy-xiala">∨</div>
        </div>
    </a>
    <ul class="xialakuang" style="display: none;">
        <a href="">
            <li>首页</li>
        </a>
        <a href="">
            <li>关于我们</li>
        </a>
        <a href="">
            <li>铲品中心</li>
        </a>
        <a href="">
            <li>服务项目</li>
        </a>
        <a href="">
            <li>新闻资讯</li>
        </a>
        <a href="">
            <li>在线预约</li>
        </a>
    </ul>
    <!-- 屏幕缩小后出现的下拉列表 结束 -->

    <!-- 导航结束 -->
    <nav class="xiala-nav">
        <div class="nav-box">
            <div class="navl">
                <img src="img/common/车图标.png" alt="">
            </div>
            <ul class="navr">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
                <li>
                    <a href="">产品中心</a>
                </li>
                <li>
                    <a href="">服务项目</a>
                </li>
                <li>
                    <a href="">新闻资讯</a>
                </li>
                <li>
                    <a href="">在线预约</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <div class="bit-content">
        <div class="bitImageParentDiv">
            <!-- <div class="container col-md-12"> -->
            <div class="qfe-wrapper ">
                <img src="../static/image/项目服务.jpg" alt="">
            </div>
            <!-- </div> -->
        </div>
        <!-- 服务项目 -->

        <div class="row">
            <div class="container">
                <div class="box col-lg-12 col-md-12 col-xs-12">
                    <div class="box-left"></div>
                    <div class="gywm">
                        <p>服务项目</p>
                        <p class="services">Services</p>
                    </div>
                    <div class="box-right">
                        <div class="tc"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 下方四个图开始 -->
    <div class="row">
        <div class="container">
            <div class="list">
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="../static/image/项目服务1.gif" alt="">
                    </div>
                    <p class="zi">汽车美容</p>
                    <div class="line">
                        <img src="image/line.png" alt="">
                    </div>
                    <p class="text">応损捠捡换换，攴朰朲朳枛朸桸<br>桹桺奿妀。夲夳夵壱売壳圢圤圥<br>圦圧， 圩圪囡団囤囥咍咎壱売壳<br>圢圤圥圦応损捠捡换换。</p>

                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1 ">
                        <img src="../static/image/项目服务2.jpg" alt="">
                    </div>
                    <p class="zi">汽车维修</p>
                    <div class="line">
                        <img src="image/line.png" alt="">
                    </div>
                    <p class="text">応损捠捡换换，攴朰朲朳枛朸桸<br>桹桺奿妀。夲夳夵壱売壳圢圤圥<br>圦圧， 圩圪囡団囤囥咍咎壱売壳<br>圢圤圥圦応损捠捡换换。</p>

                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="../static/image/项目服务3.jpg" alt="">
                    </div>
                    <p class="zi">钣金喷漆</p>
                    <div class="line">
                        <img src="image/line.png" alt="">
                    </div>
                    <p class="text">応损捠捡换换，攴朰朲朳枛朸桸<br>桹桺奿妀。夲夳夵壱売壳圢圤圥<br>圦圧， 圩圪囡団囤囥咍咎壱売壳<br>圢圤圥圦応损捠捡换换。 </p>

                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="../static/image/项目服务4.jpg" alt="">
                    </div>
                    <p class="zi">汽车改装</p>
                    <div class="line">
                        <img src="image/line.png" alt="">
                    </div>
                    <p class="text">応损捠捡换换，攴朰朲朳枛朸桸<br>桹桺奿妀。夲夳夵壱売壳圢圤圥<br>圦圧， 圩圪囡団囤囥咍咎壱売壳<br>圢圤圥圦応损捠捡换换。</p>

                </div>
            </div>
        </div>
    </div>
</div>




    </div>
    <!-- 站点地图开始 -->
    <footer>
        <ul>
            <li>
                <h1><strong>一店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>二店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>
            <li>
                <h1><strong>三店地址</strong></h1>
                <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                <h2>预约电话：<strong>400-562-6654</strong></h2>
                <h3>营业时间</h3>
                <h4>周一 ~周五：上午9:30-下午8:00</h4>
                <h4>周六、周日：上午10:00-下午9:00</h4>
            </li>

        </ul>
        <div class="bottom-tb">
            <img src="../static/image/common/QQ%20(1).png" alt="">
            <img src="../static/image/common/微信%20(1).png" alt="">
            <img src="../static/image/common/微博%20(1).png" alt="">
            <img src="../static/image/common/电话%20(1).png" alt="">
            <img src="../static/image/common/邮箱.png" alt="">
        </div>
        <div class="bottom-wz">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
        <div class="bottom-zaixian"><a href="">在线预约</a></div>
    </footer>
    <!-- 站点地图结束 -->

    <!-- 箭头--置顶 -->
    <div class="zhiding">ʌ</div>
</body>

</html>
<script src="../static/js/index.js"></script>
<script src="../static/js/public.js"></script>